*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.container
{
  max-width: 1170px;
  width: 80%;
  margin: auto;
}

a{
    color: var(--bl-white);
    text-decoration: none;
}

/* #region utilities */

.d-flex{
    display: flex;
}

/* #endregion utilities */

/* #region colors */

:root{
    --bl-primary: #fe6800;
    --bl-dark: #1b1b1a;
    --bl-white: #fffefe;
    --bl-sales: #fe0100;
    --bl-bearableness: #018100;
}

/* #endregion colors */

/* #region debug */
.debug .container{
    height: 50px;
}

.debug .col{
    background-color: red;
}
/* #endregion debug */

/* #region header */

header{
    background-color: var(--bl-primary);
    color: var(--bl-white);
}
header>.container{
    justify-content: space-between;
    padding-top: 1.3rem;
    padding-bottom: 1rem;
}
.categories{
    justify-content: space-between;  
    gap: 0.5rem;  
    font-size: small;
}
.logo>img{
    width: 7rem;
}

/* #endregion header */

/* #region main */

.container>.row{
    justify-content: space-between;
    padding: 3rem 0;
}

.col{
    width: calc(100%/3 - 1rem);
    position: relative;
}
.col>img{
    width: 100%;
}
.square{
    width: 3rem;
    height: 3rem;
    background-color: var(--bl-white);
    position: absolute;
    right: 0;
    top: 10px;
    justify-content: center;
    align-items: center;
}
.square>div{
    font-size: 1.5rem;
}
.labels{
    color: var(--bl-white);
    font-size: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 6rem;
}
.sales{
    background-color: var(--bl-sales);
    padding: 0.2rem 0.4rem;
}
.bearableness{
    background-color: var(--bl-bearableness);
    padding: 0.2rem 0.4rem;
}
.brand{
    font-weight: 100;
    font-size: small;
}
.clothes{
    font-weight: 900;
}
.price{
    font-size: small;
}
.f-price{
    color:var(--bl-sales)
}
.s-price{
    text-decoration: line-through;
}
/* #endregion main */

/* #region footer */

/* #endregion footer */